image boot.vfat {
	vfat {
		files = {
			"Image",
			"meson-sm1-x96-max-plus-100m.dtb",
			"u-boot.bin",
			"boot.scr.uimg"
		}
	}

	size = 32M
}

image sdcard.img {
	hdimage {
		# for root=PARTUUID support
		#disk-signature = 0xfeedc0de
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
		size = 2048M
	}
}
